@media (min-width: 913px) {
    .menu {
        display: flex;
    }
}
@media (max-width: 913px) {
    .menu {
        display: none;
    }
}
@media (min-width: 913px) {
    .toggleMenu {
        display: none;
    }
}
@media (max-width: 913px) {
    .toggleMenu {
        display: block;
    }
}