.flip-card {
    perspective: 1000px;
}

.flip-card:hover .flip-card-inner {
    transform: scaleZ(1.1);
    /* border: 2px solid red; */
    box-shadow: 0 0 10px 5px #4ab1bd; /* Add box-shadow for thunder effect */
}

.flip-card-inner {
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    backface-visibility: hidden;
}

.flip-card-back {
    transform: rotateY(180deg);
}
